:root {
    --color-dark-primary: #2a254b;
    --color-primary: #4e4d93;
    
    --color-white: #ffffff;
    --color-light-gray: #f9f9f9;
    
    --color-border-gray: #eae8f4;
    --color-border-dark: #cac6da;
}


