/* Roboto Light (300) */
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Roboto Regular (400) */
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Roboto Medium (500) */
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Roboto Bold (700) */
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

